[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes
After=etcd.service
Wants=etcd.service

[Service]
EnvironmentFile=${K8S_CONF_DIR}/kube-apiserver.conf
ExecStart=${K8S_BIN_DIR}/kube-apiserver \
  --enable-admission-plugins=${KUBE_APISERVER_ADMISSION_CONTROL} \
  --anonymous-auth=false \
  --advertise-address=${KUBE_API_ADDRESS} \
  --bind-address=${KUBE_API_ADDRESS} \
  --authorization-mode=Node,RBAC \
  --runtime-config=${KUBE_APISERVER_RUNTIME_CONFIG} \
  --enable-bootstrap-token-auth \
  --token-auth-file=${KUBE_TOKEN_AUTH_FILE} \
  --service-cluster-ip-range=${KUBE_SERVICE_CLUSTER_IP_RANGE} \
  --service-node-port-range=${KUBE_SERVICE_NODE_PORT} \
  --tls-cert-file=${KUBE_TLS_CERT_FILE} \
  --tls-private-key-file=${KUBE_TLS_KEY_FILE} \
  --client-ca-file=${KUBE_CA_FILE} \
  --kubelet-client-certificate=${KUBE_TLS_CERT_FILE} \
  --kubelet-client-key=${KUBE_TLS_KEY_FILE} \
  --service-account-key-file=${KUBE_CA_KEY_FILE} \
  --etcd-servers=${KUBE_ETCD_SERVERS} \
  --etcd-cafile=${KUBE_CA_FILE} \
  --etcd-certfile=${ETCD_CERT_FILE} \
  --etcd-keyfile=${ETCD_KEY_FILE} \
  --allow-privileged=true \
  --apiserver-count=3 \
  --requestheader-client-ca-file=${KUBE_CA_FILE} \
  --requestheader-allowed-names=metrics-server \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --requestheader-group-headers=X-Remote-Group \
  --requestheader-username-headers=X-Remote-User \
  --proxy-client-cert-file=${KUBE_PROXY_CLIENT_CERT_FILE} \
  --proxy-client-key-file=${KUBE_PROXY_CLIENT_KEY_FILE} \
  --audit-policy-file=${KUBE_AUDIT_POLICY_CONF} \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=${KUBE_AUDIT_POLICY_PATH} \
  --logtostderr=true \
  --log-dir=${KUBE_LOG_DIR} \
  --v=4
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
