[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
EnvironmentFile=/opt/k8s/conf/kube-proxy.conf
WorkingDirectory=/ext/k8s/kube-proxy
ExecStart=/opt/k8s/bin/kube-proxy \
  --config=/opt/k8s/yaml/kube-proxy.yaml \
  --log-dir=${KUBE_PROXY_LOG_DIR} \
  --logtostderr=true \
  --alsologtostderr=true \
  --v=4
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
