[Unit]
Description=Etcd Server
After=network.service
After=network-online.service
Wants=network-online.service
Documentation=https://github.com/etcd-io/etcd

[Service]
Type=notify
WorkingDirectory=${APP_DIR}/etcd
EnvironmentFile=${K8S_CONF_DIR}/etcd.conf
# set GOMAXPROCS to number of processes
ExecStart=/bin/bash -c "GOMAXPROCS=1 ${K8S_BIN_DIR}/etcd"
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
