[mysqld]
# configurations for mysqld process
ndbcluster                   # run NDBCluster Enginee
binlog_format=row            # log for each row
log_bin=sql1-bin             # Logfile in binary, for recover
server-id=21                 # ServerID / sql-nodeid
ndb_connectstring=mgm1,mgm2  # To connect to management-node(s), hostname or ip, seperate by ',',default port 1186

user=mysql                   # User for mysql execute
basedir=/usr/local/mysql     # Directory for mysql programs
datadir=/var/lib/mysql/data  # Directory for mysql data (logs,error,pid...)
port=3306                    # Service port(default: 3306). You can use any port not confict, client port should be modified, not recommanded.

socket=/var/lib/mysql/mysql.sock	# socks for mysqld process

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

[client]
# configurations for mysql client
socket=/var/lib/mysql/mysql.sock

[mysql-cluster]
# configurations for MySQL Cluster process
ndb-connectstring=mgm1,mgm2  # management-node(s), hostname op ip, seperate by ','

[mysqld_safe]
log-error=/var/lib/mysql/mysqld.log    # mysqld process log-file
pid-file=/var/lib/mysql/mysqld.pid     # mysqld process pid-file

[mysql]
socket=/var/lib/mysql/mysql.sock
